//
//  Staging.xcconfig
//  Yummi
//
//  Created by Omar Abdulrahman on 03/09/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FIREBASE_GOOGLE_SERVICE_INFO_PLIST_FILENAME = Google-Info/Staging/GoogleService-Info

SLASH = /

BASE_URL = https:$(SLASH)/yummie.glitch.me/

APP_DISPLAY_NAME = Yummie - Staging
